:root {
	--primary: #212121;
	--primaryLight: #484848;
	--primaryDark: #000000;

	--secondary: #9c2132;
	--secondaryLight: #d2545b;
	--secondaryDark: #67000c;

	--LogoURL: url("https://i.ibb.co/g7TQYLS/Rama-SV-Logo-Borderless.png");
	--fontColor: #fff; 
}


body {
	background-color: var(--secondaryDark);
}
table.monitorhead {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
td.logo.right img {
	display: none;
}
td.logo.right {
	background-image: var(--LogoURL);
	background-position: center;
	background-size: contain;
	width: 10000vw !important;
	background-repeat: no-repeat;
}
div#lineinfotitle {
	background-color: var(--secondaryDark) !important;
}
tr#ROW_HEAD {
	background: var(--secondary) !important;
}
td {
	color: var(--fontColor) !important;
}
tr.title * {
	background-color: var(--secondaryDark) !important;
	color: var(--fontColor) !important;
}
tr.color3 td {
	background-color: var(--primaryLight) !important;
	border: none !important;
}
tr.color4 td {
	background-color: var(--primary) !important;
	border: none !important;
}
#cont_messageTicker {
	background-color: var(--primaryDark) !important;
}
.scrollingText {
	background-color: var(--primaryDark) !important;
	color: var(--fontColor) !important;
}
